@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400; */
  font-family: "Lato", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: italic;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  margin: 0;
  padding: 0;
}
#mainText {
  position: relative;
  height: auto;
  top: 18%;
  z-index: 0;
  font-family: "Bebas Neue", sans-serif;
  font-size: 9rem;
  font-style: normal;
}

#mainText > h1 > #text1 {
  margin-bottom: -106px;
  background: linear-gradient(to bottom, #454545, #5d5d5d);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
#mainText > h1 > #text2 {
  letter-spacing: 5px;
  background: linear-gradient(to bottom, #465374, #161c29);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
#mainText {
  animation-name: animate-up;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}

section {
  height: 100vh;
  z-index: -1;
  background-size: cover;
  background-position: center;
}
#main {
  background-image: url("/src/images/BG.png");
}
#main::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  background-size: cover;
  background-position: center;
  background-image: url("/src/images/BGtransparent.png");
}

#history {
  background-image: url("/src/images/BG2.png");
  height: 953px;
}
#team {
  height: 953px;
}

#history span,
#team span {
  position: relative;
  font-family: "Bebas Neue", sans-serif;
  font-style: normal;
}

#history p {
  position: absolute;
  margin-top: 22px;
  left: 28%;
  font-style: normal;
  width: 47vw;
}

#team p {
  position: absolute;
  margin-top: -10rem;
  left: 40%;
  font-style: normal;
}

#history .title {
  position: relative;
  top: 5%;
  left: -16%;
}

#team .title {
  position: relative;
  top: 0%;
  left: -17%;
}

.number {
  font-size: 11rem;
  font-weight: 900;
  opacity: 0.5;
}
.heading {
  position: absolute;
  top: -25px;
  left: -30px;
  font-size: 4rem;
}

#history .backdrop {
  position: relative;
  height: 27%;
  width: 100%;
  bottom: -45%;
  background-color: #39496e;
  opacity: 0.8;
}

#team .backdrop {
  position: relative;
  height: 5%;
  width: 100%;
  bottom: 0%;
  background-color: #39496e;
  opacity: 0.8;
}

.slick-slide > div {
  margin: 0 10px;
}

.slick-dots li.slick-active button:before {
  color: rgb(255, 255, 255) !important;
}

.footer {
  background-color: #39496e;
  opacity: 0.8;
}

@keyframes animate-up {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #ffe174;
  }
  button {
    background-color: #f9f9f9;
  }
}

@media screen and (max-width: 600px) {
  #mainText {
    top: 25%;
    font-size: 20vw;
  }
  .navSpace {
    gap: 2rem;
  }
  #mainText > h1 > #text1 {
    margin-bottom: -15vw;
  }
  #history p {
    position: absolute;
    margin-top: -4%;
    left: 11%;
    font-style: normal;
    width: 80%;
    text-align: justify;
  }

  #history .title {
    position: relative;
    top: 5%;
    left: -8%;
  }

  #history {
    height: 1000px;
  }

  #history .backdrop {
    bottom: -39%;
  }
  .number {
    font-size: 40vw;
    font-weight: 900;
    opacity: 0.5;
  }
  .heading {
    position: absolute;
    top: -25px;
    left: -30px;
    font-size: 15vw;
  }
  #team .title {
    position: relative;
    top: -5%;
    left: -5%;
  }
  #team p {
    position: absolute;
    margin-top: -25%;
    left: 12%;
    width: 79%;
    font-style: normal;
  }
  .slick-slide img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .carousel {
    width: 81vw;
  }
  header {
    padding: 10px;
  }
  .scheduleBox {
    left: 15%;
  }
}
